body{
  background-image: url(https://scontent.cdninstagram.com/v/t1.15752-9/293118992_438356111531155_6600750975380822827_n.jpg?stp=dst-jpg_p640x640&_nc_cat=104&ccb=1-7&_nc_sid=5a057b&_nc_ohc=uQH1em8bl54AX8TQLkB&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.cdninstagram.com&oh=03_AVLphvVvUm78ooDOrVr6yQquwHA0ZwWbSX4Vacgj5ol6fg&oe=62FE82ED);
  background-size: cover;
  background-repeat: no-repeat;
}
